  /* Browser Reset */
  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }



#calculator {
    border: solid 2px red;
    background-color: black;
    color: white;
    height: 1000px;
    width: 500px;
}

#displaysection {
    border: solid 2px blue;
}

#buttonsection {
    border: solid 2px green;
}

#numbersection {
    border: solid 2px orange;
}